@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-Medium.woff2") format("woff2"), url(".../fonts/Mulish-Medium");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url(".../fonts/Mulish-Regular");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: Xolonium;
	font-display: swap;
	src: url("../fonts/Xolonium-Bold.woff2") format("woff2"), url(".../fonts/Xolonium-Bold");
	font-style: normal;
	font-weight: 700;
}
