@import "fonts";

$white: #ffffff;
$green: #60E878;
$aluminium: #88888D;
$vulcan: #12121C;
$steelgrey: #222233;
$navyblue: #006ADA;
$notification: #FF0033;
$mulish: 'Mulish', sans-serif;
$xolonium: 'Xolonium', sans-serif;

@mixin backsvg {
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

html {
    overflow-x: clip;
}

body {
    pointer-events: all !important;
    background-color: $vulcan;
    overflow-x: clip;
    margin: 0 auto;
    color: $white;
    font-family: $mulish;
    font-size: 20px;
    line-height: 1.2;
}

body.stop-scrolling {
    overflow: auto !important;
}

.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.h1 {
    font-family: $xolonium;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.066em;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: $white;
}

.h2 {
    font-family: $xolonium;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: normal;
    font-weight: 700;   
    padding: 0;
    margin: 0;    
    color: $white;
}

.h3 {
    font-family: $xolonium;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: normal;
    font-weight: 700;   
    padding: 0;
    margin: 0;
    color: $white;
}

.ticker {
    font-family: $xolonium;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: normal;
    font-weight: 700; 
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: $white;
}

.subtitle {
    font-family: $mulish;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    text-decoration: none;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    color: $white;
}

.descriptor {
    font-family: $mulish;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    text-decoration: none;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    color: $white;
}

.color-green {
    color: $green;
}

.rotatebtn {
    position: relative;
    width: 196px;
    height: 196px;
    cursor: pointer;
    &:hover .ellips_63 {
        transform: rotate(180deg);
    }
    &:hover .ellips_50 {
        transform: rotate(-180deg);
        transform-origin: center;
    }
    &:hover .ellips_48-img {
        opacity: 0;
    }
    &:hover .rotatebtn-text {
        color: $navyblue;
    }
}
.rotatebtn-text {
    position: absolute;
    text-align: center;
    width: 70%;
    z-index: 6;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    color: $white;
    transition: color 1s ease;
}
.ellips_63 {
    width: 196px;
    height: 196px;
    position: absolute;
    transition: all 1s ease;
    z-index: 1;
    &-img {
        width: 165px;
        height: 165px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../img/rotatebtn/Ellipse63.svg);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1;
    }
}
.ellips_53 {
    width: 172px;
    height: 172px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: 50%;
    background-image: url(../img/rotatebtn/Ellipse53.svg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
    
}
.ellips_50 {
    width: 196px;
    height: 196px;
    position: absolute;
    transition: all 1s ease;
    z-index: 3;
    &-img {
        width: 172px;
        height: 172px;
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 12px;
        background-image: url(../img/rotatebtn/Ellipse50.svg);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 3;
    }
}
.ellips_48 {
    width: 196px;
    height: 196px;
    position: absolute;
    transition: all 1s ease;
    z-index: 6;
    &-img {
        width: 142px;
        height: 142px;
        display: inline-block;
        position: absolute;
        top: 27px;
        right: 27px;
        background: linear-gradient(0deg, rgba(0, 106, 218, 0.2), rgba(0, 106, 218, 0.2)), linear-gradient(119.34deg, #FFFFFF 1.38%, #006ADA 42.92%, #006ADA 77.21%);
        cursor: pointer;
        z-index: 6;
        border-radius: 50%;
        transition: opacity 1s ease;
    }
    &-imghover {
        width: 142px;
        height: 142px;
        display: inline-block;
        position: absolute;
        top: 27px;
        right: 27px;
        background: linear-gradient(135.26deg, rgba(255, 255, 255, 0.25) 4.03%, rgba(255, 255, 255, 0.25) 32.68%, rgba(0, 106, 218, 0.25) 83.09%), #FFFFFF;
        cursor: pointer;
        z-index: 5;
        border-radius: 50%;
    }
}


.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
    }
    &__login {
        width: 126px;
        height: 56px;
        margin-right: 40px;
        display: inline-block;
        &-img {
            width: 100%;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        &-ul {
            display: flex;
            align-items: center;
            gap: 32px;
            padding: 16px 16px 16px 24px;
            border: 1px solid #FFFFFF;
            border-radius: 32px;
        }
        &-li {
            display: flex;
            align-items: center;
            &:last-child::after {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url(../img/IconRobot.svg);
                margin-left: 8px;
                background-size: 100% 100%;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        &-link {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            color: $white;
        }
    }
    &__user {
        &-login {
            margin-right: 55px;
        }
        &-register {
            padding: 16px 32px;
            background-color: $navyblue;
            border-radius: 32px;
        }
    }
}

.main-banner {
    padding-top: 72px;
    padding-bottom: 100px;
    position: relative;
    &__inner {
        position: relative;
    }
    &__content {
        width: 47%;
        position: relative;
        & .decor::before {
            height: 38px;
            width: 140px;
            display: inline-block;
            content: '';
            background-image: url(../img/IconWave4.svg);
            @include backsvg;
            margin-right: 36px;
        }
        &-h1 {
            position: relative;
            &::after {
                content: "";
                width: 64px;
                height: 64px;
                background-image: url(../img/IconArrowDown.png);
                @include backsvg;
                position: absolute;
                right: 100px;
                bottom: -18px;
            }
        }
        &-description {
            font-family: $mulish;
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 140%;
            color: $aluminium;     
            margin-top: 59px;
            padding-left: 333px;
        }
        &-rotatebtn {
            position: absolute;
            bottom: -90px;
            left: 0;
        }
    }
    &__imgbox {
        position: absolute;
        right: -195px;
        top: -176px;
        overflow: visible;
        width: 900px;
        &-img {
            width: 100%;
            height: auto;
        }
    }
}