@import "fonts";

$white: #ffffff;
$green: #60E878;
$aluminium: #88888D;
$vulcan: #12121C;
$steelgrey: #222233;
$navyblue: #006ADA;
$notification: #FF0033;
$mulish: 'Mulish', sans-serif;
$xolonium: 'Xolonium', sans-serif;

@mixin backsvg {
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

html {
    overflow-x: clip;
}

body {
    pointer-events: all !important;
    background-color: $vulcan;
    overflow-x: clip;
    margin: 0 auto;
    color: $white;
    font-family: $mulish;
    font-size: 20px;
    line-height: 1.2;
}

body.stop-scrolling {
    overflow: auto !important;
}

.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.h1 {
    font-family: $xolonium;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.066em;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: $white;
}

.h2 {
    font-family: $xolonium;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: $white;
}

.h3 {
    font-family: $xolonium;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.061em;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: $white;
}

.ticker {
    font-family: $xolonium;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: $vulcan;
}

.subtitle {
    font-family: $mulish;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    text-decoration: none;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    color: $white;
}

.descriptor {
    font-family: $mulish;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    text-decoration: none;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    color: $white;
}

.color-green {
    color: $green;
}

.rotatebtn {
    position: relative;
    width: 196px;
    height: 196px;
    cursor: pointer;

    &:hover .ellips_63 {
        transform: rotate(180deg);
    }

    &:hover .ellips_50 {
        transform: rotate(-180deg);
        transform-origin: center;
    }

    &:hover .ellips_48-img {
        opacity: 0;
    }

    &:hover .rotatebtn-text {
        color: $navyblue;
    }
}

.rotatebtn-text {
    position: absolute;
    text-align: center;
    width: 70%;
    z-index: 6;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    color: $white;
    transition: color 1s ease;
}

.ellips_63 {
    width: 196px;
    height: 196px;
    position: absolute;
    transition: all 1s ease;
    z-index: 1;

    &-img {
        width: 165px;
        height: 165px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../img/rotatebtn/Ellipse63.svg);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1;
    }
}

.ellips_53 {
    width: 172px;
    height: 172px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: 50%;
    background-image: url(../img/rotatebtn/Ellipse53.svg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;

}

.ellips_50 {
    width: 196px;
    height: 196px;
    position: absolute;
    transition: all 1s ease;
    z-index: 3;

    &-img {
        width: 172px;
        height: 172px;
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 12px;
        background-image: url(../img/rotatebtn/Ellipse50.svg);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 3;
    }
}

.ellips_48 {
    width: 196px;
    height: 196px;
    position: absolute;
    transition: all 1s ease;
    z-index: 6;

    &-img {
        width: 142px;
        height: 142px;
        display: inline-block;
        position: absolute;
        top: 27px;
        right: 27px;
        background: linear-gradient(0deg, rgba(0, 106, 218, 0.2), rgba(0, 106, 218, 0.2)), linear-gradient(119.34deg, #FFFFFF 1.38%, #006ADA 42.92%, #006ADA 77.21%);
        cursor: pointer;
        z-index: 6;
        border-radius: 50%;
        transition: opacity 1s ease;
    }

    &-imghover {
        width: 142px;
        height: 142px;
        display: inline-block;
        position: absolute;
        top: 27px;
        right: 27px;
        background: linear-gradient(135.26deg, rgba(255, 255, 255, 0.25) 4.03%, rgba(255, 255, 255, 0.25) 32.68%, rgba(0, 106, 218, 0.25) 83.09%), #FFFFFF;
        cursor: pointer;
        z-index: 5;
        border-radius: 50%;
    }
}


.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
    }

    &__login {
        width: 126px;
        height: 56px;
        margin-right: 40px;
        display: inline-block;

        &-img {
            width: 100%;
        }
    }

    &__nav {
        display: flex;
        align-items: center;

        &-ul {
            display: flex;
            align-items: center;
            gap: 32px;
            padding: 16px 16px 16px 24px;
            border: 1px solid #FFFFFF;
            border-radius: 32px;
        }

        &-li {
            display: flex;
            align-items: center;

            &:last-child::after {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url(../img/IconRobot.svg);
                margin-left: 8px;
                background-size: 100% 100%;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        &-link {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            color: $white;
        }
    }

    &__user {
        &-login {
            margin-right: 55px;
        }

        &-register {
            padding: 16px 32px;
            background-color: $navyblue;
            border-radius: 32px;
        }
    }
}

.main-banner {
    padding-top: 72px;
    padding-bottom: 260px;
    position: relative;

    &__inner {
        position: relative;
    }

    &__content {
        width: 47%;
        position: relative;

        & .decor::before {
            height: 38px;
            width: 140px;
            display: inline-block;
            content: '';
            background-image: url(../img/IconWave4.svg);
            @include backsvg;
            margin-right: 36px;
        }

        &-h1 {
            position: relative;

            &::after {
                content: "";
                width: 64px;
                height: 64px;
                background-image: url(../img/IconArrowDown.png);
                @include backsvg;
                position: absolute;
                right: 100px;
                bottom: -18px;
            }
        }

        &-description {
            font-family: $mulish;
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 140%;
            color: $aluminium;
            margin-top: 59px;
            padding-left: 333px;
        }

        &-rotatebtn {
            position: absolute;
            bottom: -90px;
            left: 0;
        }
    }

    &__imgbox {
        position: absolute;
        right: -195px;
        top: -176px;
        overflow: visible;
        width: 900px;

        &-img {
            width: 100%;
            height: auto;
        }
    }
}

.main-marquee {
    transform: rotate(-6deg);
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: 174px;
    user-select: none;
    pointer-events: none;

    &__marquee {
        position: absolute;
        left: -50px;
        bottom: 0;
        width: auto;
        padding: 22px 0;
        display: inline-flex;
        align-items: center;
        background-color: $green;

        &-item {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 20px;
        }

        &-icon {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            margin-right: 20px;
        }

        &-text {
            flex-shrink: 0;
        }
    }
}

.functions {
    padding-top: 68px;
    padding-bottom: 120px;

    &__h2 {
        padding-bottom: 50px;
        position: relative;
        &::after {
            content: '';
            background-image: url(../img/functions_h2.svg);
            @include backsvg;
            display: inline-block;
            position: absolute;
            width: 456px;
            height: 31px;
            left: 373px;
            bottom: 11px;
        }

        & .decor {
            margin-left: 5px;
            letter-spacing: 0.072em;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 48px;
        flex-wrap: wrap;
        padding-top: 50px;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #60E878;
            filter: drop-shadow(0px 0px 12px rgba(96, 232, 120, 0.5));
            border-radius: 32px;
            height: 155px;
            flex-basis: 160px;
        }

        &-img {
            width: 64px;
            height: 64px;
        }

        &-green {
            flex-basis: 472px;
            padding: 42px 32px;
            background: #60E878;
            border-radius: 32px;

            & .functions__cards-description {
                color: $steelgrey;
            }

            & .functions__cards-title {
                color: $vulcan;
            }
        }

        &-white {
            flex-basis: 472px;
            padding: 42px 32px;
            border: 1px solid #FFFFFF;
            // filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.6));
            box-shadow: (0px 0px 12px rgba(255, 255, 255, 0.2));
            border-radius: 32px;
        }

        &-title {
            margin-bottom: 12px;
        }

        &-description {
            font-family: $mulish;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: $aluminium;
        }
    }
}

.opportunities {
    padding-top: 120px;
    padding-bottom: 120px;
    &__h2 {
        position: relative;
        letter-spacing: 0.068em;
        &::after {
            content: '';
            background-image: url(../img/opportunities_h2.svg);
            @include backsvg;
            display: inline-block;
            position: absolute;
            left: 227px;
            bottom: 0;
            width: 508px;
            height: 44px;
        }

        & .decor {
            display: block;
        }
    }

    &__wrapper {
        margin: 64px auto 0;
        position: relative;
        height: 674px;
        width: 1200px;
    }

    &__video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: transparent;
    }
}


.videoPoster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/MainImage.png);
    background-size: 100%;
    border: none;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}

.videoPoster:hover {
    cursor: pointer;
}

.videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(../img/IconPlay.svg);
    // margin: -40px 0 0 -40px;
    // border: 5px solid #fff;
    // border-radius: 100%;
    // -webkit-transition: border-color 300ms;
    // -moz-transition: border-color 300ms;
    // transition: border-color 300ms;
}

// .videoPoster:after {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 0;
//     height: 0;
//     margin: -20px 0 0 -10px;
//     border-left: 40px solid #fff;
//     border-top: 25px solid transparent;
//     border-bottom: 25px solid transparent;
//     -webkit-transition: border-color 300ms;
//     -moz-transition: border-color 300ms;
//     transition: border-color 300ms;
// }

// .videoPoster:hover:before,
// .videoPoster:focus:before {
//     border-color: #f00;
// }

// .videoPoster:hover:after,
// .videoPoster:focus:after {
//     border-left-color: #f00;
// }

.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
}

.messengers {
    padding-top: 130px;
    padding-bottom: 120px;
    &__h2 {
        width: 70%;
        display: inline-block;
        position: relative;
        letter-spacing: 0.067em;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -10px;
            height: 65px;
            width: 380px;
            background-image: url(../img/messengers_h2.svg);
            @include backsvg;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 178px;
            height: 55px;
            width: 55px;
            background-image: url(../img/SmileGreen.svg);
            @include backsvg;
        }
    }
    &__text {
        font-family: $mulish;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: $white;
        margin-top: 64px;
        width: 74%;
    }
    &__wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        &-shrink {
            flex-shrink: 1;
            flex-basis: 52%;
        }
    }
    &__list {
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 40%;
        // width: 48%;
        position: relative;
        padding-left: 16px;
        &-li {
            font-family: $mulish;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #88888D;
            position: relative;
            padding-left: 40px;
            &::before {
                content: '';
                width: 24px;
                height: 24px;
                background-image: url(../img/Bullet.svg);
                @include backsvg;
                display: inline-flex;
                position: absolute;
                top: 2px;
                left: -16px;
            }
            & + .messengers__list-li {
                margin-top: 24px;
            }
        }
    }
}
.capabilities {
    padding-top: 157px;
    padding-bottom: 120px;
    &__h2 {
        letter-spacing: 0.068em;
        position: relative;
        width: 80%;
        &::after {
            content: '';
            position: absolute;
            top: -37px;
            right: -220px;
            height: 143px;
            width: 371px;
            background-image: url(../img/capabilities_h2.svg);
            @include backsvg;
        }
    }
    &__descr {
        margin-top: 64px;
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
        gap: 65px;
        &-subtitle {
            flex-basis: 663px;
        }
        &-text {
            font-family: $mulish;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: $aluminium;
            flex-basis: 472px;
        }
    }
}

.arrow-btn {
    &__circle {
        width: 94px;
        height: 94px;
        position: relative;
        border-radius: 47px;
        border: 1px solid $white;
        background-color: transparent;
        transition: all 1s ease;
        cursor: pointer;
        &:hover {
            width: 195px;
            background-color: $white;
        }
        &:hover {
            & .arrow-btn__arrow-small {
                opacity: 0;
            }
            & .arrow-btn__arrow-long {
                transform: scale(1);
                opacity: 1;
            }
        } 
    }
    &__arrow-small {
        position: absolute;
        height: 15px;
        width: 25px;
        display: inline-block;
        background-image: url(../img/slider-arrow-small.svg);
        @include backsvg;
        transform: rotate(180deg);
        right: 33px;
        top: 40px;
    }
    &__arrow-long {
        position: absolute;
        height: 15px;
        width: 55px;
        display: inline-block;
        background-image: url(../img/slider-arrow-long.svg);
        @include backsvg;
        opacity: 0;
        transform: scale(0);
        right: 33px;
        top: 40px;
    }
}